.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
  border-radius: 15px;
}

.card-2 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
  border-radius: 15px;
  display: flex;
  justify-content: flex-end;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  padding: 20px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #64748b;
  border-radius: 15px;
}

.card-heading {
  color: #326a9d;
  font-family: 'Roboto';
  font-size: 35px;
  font-weight: 800;
}

.button {
  color: #326a9d;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  border-radius: 8px;
  border-color: #326a9d;
}
